<span class="featured-collection-grid__card-arrow" {{ block.shopify_attributes }} aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none" class="featured-collection-grid__card-arrow-icon"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--icon-stroke-width)" vector-effect="non-scaling-stroke" d="M4.25 10h11.5m0 0-4-4m4 4-4 4"/></svg>
</span>

{% schema %}
{
  "name": "Card arrow",
  "tag": "span",
  "settings": [
    {
      "type": "paragraph",
      "content": "Displays an arrow in a circle. Used in Featured collection grid."
    }
  ],
  "presets": [
    {
      "name": "Card arrow",
      "category": "Product"
    }
  ]
}
{% endschema %}
