@media only screen and (min-width: 768px) {
#shopify-section-template--27286874194267__section_hWmEmb {
  display: none;
}
}

@media only screen and (max-width: 768px) {
#shopify-section-template--27286874194267__section_TCayzy{
    display: none;
}
}

